<h1> All Comments </h1>

<ul>
  <% @comments.each do |comment| %>
    <li><%= comment.message %> </br>
      <%= comment.author %></br>
      <a href="/comments/<%= comment.comment_id %>">show</a>
    </li>
  <% end %>
</ul>
