<h1> Create a new comment!</h1>

<form action="/comments" method="POST">
  <ul>
    <li>Message<input type="text" name="message" id="message"/><li>
    <li>Author<input type="text" name="author" id="author"/></li>
    <li><input type="submit" name="commit" id="submit"/></li>
  </ul>
</form>
