<h1><%= @comment.message %></h1>
<h3><%= @comment.author %></h3>
<form action="/comments/<%= @comment.comment_id %>/delete" method="POST">
  <input type="submit" name="Delete" id="submit" value="DELETE COMMENT" confirm=true/>
</form>


<p>
  <a href="/comments">Go to All Comments</a>
</p>
