<h1> Create a new post!</h1>
<form action="/posts" method="POST">
<ul>
  <li>Title <input type="text" name="title" id="title"/></li>
  <li>Author<input type="text" name="author" id="author"/></li>
  <li>Body<input type="text" name="body" id="body"/></li>
  <li><input type="submit" name="commit" id="submit"/></li>
</ul>

</form>
