<!DOCTYPE html>
<html>
 <head>
   <title>My Blog</title>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
   <link rel="stylesheet" type="text/css" href="/assets/stylesheets/application.css">
 </head>
 <body>
   <header>
     <nav class="navigation">
       <ul class="menu">
         <li><a href="/posts">Home</a></li>
         <li><a href="/posts">Post Index</a></li>
         <li><a href="/comments">Comment Index</a></li>
         <li><a href="/posts/new">Create New Post</a></li>
         <li><a href="/comments/new">New Comment</a></li>
       </ul>
     </nav>
   </header>
   <section>
      <%= yield %>
   </section>

   <footer>
     <p>Made by Colin Recko</p>
   </footer>
 </body>
</html>
